@use "./exercises.scss";
@use "./utilities.scss";
@use "./footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(to bottom, #a5465f, #662b3b);
  // background-color: #2e827d;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "exercises exercises utilities"
    "exercises exercises utilities"
    "footer footer footer";
  // column-gap: 30px;
  justify-content: center;
  align-items: center;
}
