.utilities {
  // display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #000;
}

.stopwatch {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .stopwatch-title {
    font-size: 2.5rem;
  }

  p {
    font-size: 7rem;
  }

  .stopwatch-buttons {
    display: flex;
    align-items: center;
    gap: 15px;

    button {
      cursor: pointer;
      font-size: 2.5rem;
      border-radius: 5px;
      background: none;
      padding: 5px 10px;
      transition: ease-in-out 0.25s;
    }

    button.disabled {
      pointer-events: none;
      opacity: 0.25;
    }

    .startBtn {
      border: 1px solid rgb(0, 128, 0);
      color: rgb(0, 128, 0);

      &:hover {
        background-color: rgb(0, 128, 0);
        color: rgb(6, 6, 6);
      }
    }

    .pauseBtn {
      border: 1px solid rgb(255, 255, 0);
      color: rgb(255, 255, 0);

      &:hover {
        background-color: rgb(255, 255, 0);
        color: rgb(6, 6, 6);
      }
    }

    .stopBtn {
      border: 1px solid rgb(255, 0, 0);
      color: rgb(255, 0, 0);

      &:hover {
        background-color: rgb(255, 0, 0);
        color: rgb(6, 6, 6);
      }
    }
  }
}

.timer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .timer-title {
    font-size: 2.5rem;
  }

  .timer-inputs {
    display: flex;
    align-items: center;
    gap: 15px;

    select {
      font-size: 2rem;
      padding: 5px;
      background: none;
      border: 1px solid #000;
      border-radius: 7px;
    }

    select.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .timer-time {
    font-size: 7rem;
    // transition: ease-in 0.25s;
  }

  .timer-buttons {
    display: flex;
    align-items: center;
    gap: 15px;

    button {
      cursor: pointer;
      font-size: 2.5rem;
      border-radius: 5px;
      background: none;
      padding: 5px 10px;
      transition: ease-in-out 0.25s;
    }

    button.disabled {
      pointer-events: none;
      opacity: 0.25;
    }

    .startBtn {
      border: 1px solid rgb(0, 128, 0);
      color: rgb(0, 128, 0);

      &:hover {
        background-color: rgb(0, 128, 0);
        color: rgb(6, 6, 6);
      }
    }

    .pauseBtn {
      border: 1px solid rgb(255, 255, 0);
      color: rgb(255, 255, 0);

      &:hover {
        background-color: rgb(255, 255, 0);
        color: rgb(6, 6, 6);
      }
    }

    .stopBtn {
      border: 1px solid rgb(255, 0, 0);
      color: rgb(255, 0, 0);

      &:hover {
        background-color: rgb(255, 0, 0);
        color: rgb(6, 6, 6);
      }
    }
  }
}
