.utilities {
  max-width: 350px;

  font-family: "Roboto", sans-serif;
  color: #f3f4f4;

  grid-area: utilities;
  grid-row: 1/1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  margin: 30px 20px;
  // padding: 20px;

  position: sticky;
  top: 25%;

  background-color: #3b3b43;
  border-radius: 15px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.6);
}

.utilities.disabled {
  display: none;
}

.stopwatch-title {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #2b2b31;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);

  padding: 12px;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  padding: 20px;

  p {
    font-size: 6.6rem;
  }

  .stopwatch-buttons {
    display: flex;
    align-items: center;
    gap: 15px;

    button {
      cursor: pointer;
      font-size: 2.2rem;
      border-radius: 5px;
      background: none;
      padding: 5px 10px;
      transition: ease-in-out 0.25s;
    }

    button.disabled {
      pointer-events: none;
      opacity: 0.25;
    }

    .startBtn {
      border: 2px solid #879570;
      color: #f3f4f4;

      &:hover {
        background-color: #879570;
      }
    }

    .pauseBtn {
      border: 2px solid #879570;
      color: #f3f4f4;

      &:hover {
        background-color: #879570;
      }
    }

    .stopBtn {
      border: 2px solid #879570;
      color: #f3f4f4;

      &:hover {
        background-color: #879570;
      }
    }
  }
}

.timer-title {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #2b2b31;
  // border-radius: 15px 15px 0 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);

  padding: 12px;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  padding: 20px;

  .timer-inputs {
    display: flex;
    align-items: center;
    gap: 15px;

    select {
      cursor: pointer;
      font-size: 2rem;
      color: #f3f4f4;
      padding: 5px;
      background: none;
      border: 1px solid #f3f4f4;
      border-radius: 7px;

      option {
        background-color: #3b3b43;
      }
    }

    select.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .timer-time {
    font-size: 6.6rem;
  }

  .timer-buttons {
    display: flex;
    align-items: center;
    gap: 15px;

    button {
      cursor: pointer;
      font-size: 2.2rem;
      border-radius: 5px;
      background: none;
      padding: 5px 10px;
      transition: ease-in-out 0.25s;
    }

    button.disabled {
      pointer-events: none;
      opacity: 0.25;
    }

    .startBtn {
      border: 2px solid #879570;
      color: #f3f4f4;

      &:hover {
        background-color: #879570;
      }
    }

    .pauseBtn {
      border: 2px solid #879570;
      color: #f3f4f4;

      &:hover {
        background-color: #879570;
      }
    }

    .stopBtn {
      border: 2px solid #879570;
      color: #f3f4f4;

      &:hover {
        background-color: #879570;
      }
    }
  }
}

@media (max-width: 968px) {
  .utilities {
    display: none;
  }
}
